:root {
    --color-dark: #0f0f23;
    --color-light: #ccc;
    --shadow-white: #fff;
}

body {
    background: var(--color-dark);
    display: flex;
    font-size: 16px;
    justify-content: center;
}

* {
    color: var(--color-light);
    font-family: 'Source Code Pro', monospace;
}

.container {
    border: 2px solid var(--color-light);
    box-shadow: 0 0 7px var(--shadow-white);
    margin-top: 100px;
    max-width: 500px;
    padding: 20px 10px;
    width: 100%;
}

.container>* {
    width: 100%;
}

.container>.input>input[type='text'] {
    box-sizing: border-box;
    color: var(--color-dark);
    font-size: 2em;
    height: 50px;
    margin: 5px;
    padding: 0 5px;
    text-align: right;
    width: calc(100% - 10px);
    border: 1px solid var(--color-light);
    box-shadow: 0 0 5px var(--shadow-white);
}

.container>.input>input[type='text']:focus {
    outline-color: var(--color-light);
}

.buttons>div {
    display: flex;
}

.buttons .btn {
    align-items: center;
    border: 1px solid var(--color-light);
    display: flex;
    font-size: 1.4em;
    height: 35px;
    justify-content: center;
    margin: 5px;
    transition: all .1s;
}

.buttons .btn.full-btn {
    flex-basis: 25%;
}

.buttons .btn.half-btn {
    flex-basis: calc(12.5% - 6px);
}

.buttons .btn:hover {
    box-shadow: 0 0 10px var(--color-light);
    cursor: pointer;
}

.buttons .v-center {
    position: relative;
}

.buttons .v-center>span {
    position: absolute;
    top: 2px;
}

.response {
    height: 30px;
    text-align: right;
}